.elementor-1160 .elementor-element.elementor-element-6cdf7b6:not(.elementor-motion-effects-element-type-background), .elementor-1160 .elementor-element.elementor-element-6cdf7b6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #926aa6;}
.elementor-1160 .elementor-element.elementor-element-6cdf7b6 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-1160 .elementor-element.elementor-element-6cdf7b6 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1160 .elementor-element.elementor-element-952106c .elementor-heading-title {color: #d2386c;font-family: "Alike",Sans-serif;font-size: 38px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-3702350 {text-align: justify;}
.elementor-1160 .elementor-element.elementor-element-3702350 .elementor-heading-title {color: #131313;font-family: "Roboto",Sans-serif;font-size: 22px;font-weight: 400;line-height: 28px;}
.elementor-1160 .elementor-element.elementor-element-f8aa3e7 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-1160 .elementor-element.elementor-element-f8aa3e7 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-1160 .elementor-element.elementor-element-f8aa3e7 .elementor-button {background-color: #51bea6;border-radius: 0px 0px 0px 0px;box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);}
.elementor-1160 .elementor-element.elementor-element-f8aa3e7 > .elementor-widget-container {margin: 60px 0px 0px 0px;}
.elementor-1160 .elementor-element.elementor-element-c97eb4c > .elementor-container {max-width: 1600px;}
.elementor-1160 .elementor-element.elementor-element-df269e6 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-1160 .elementor-element.elementor-element-df269e6 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-1160 .elementor-element.elementor-element-df269e6 .elementor-button {background-color: #926aa6;border-radius: 38px 38px 38px 38px;box-shadow: 0px 0px 10px 0px rgba(23.25,.85923913043478,.85923913043478,.5);}
.elementor-1160 .elementor-element.elementor-element-df269e6 > .elementor-widget-container {margin: 25px 0px 0px 0px;border-style: solid;border-width: 0px 0px 0px 0px;border-radius: 0px 0px 0px 0px;}
.elementor-1160 .elementor-element.elementor-element-df269e6 {width: 100%;max-width: 100%;}
.elementor-1160 .elementor-element.elementor-element-ba369e1 {text-align: justify;}
.elementor-1160 .elementor-element.elementor-element-ba369e1 .elementor-heading-title {color: #131313;font-family: "Roboto",Sans-serif;font-size: 22px;font-weight: 400;line-height: 28px;}
.elementor-1160 .elementor-element.elementor-element-8b4cd59 {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-8b4cd59 .elementor-heading-title {color: #d2386c;font-family: "Alike",Sans-serif;font-size: 38px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-057fac5 {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-057fac5 .elementor-heading-title {color: #d2386c;font-family: "Alike",Sans-serif;font-size: 33px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-feba951 {text-align: justify;font-family: "Roboto",Sans-serif;font-size: 22px;font-weight: 400;}
.elementor-1160 .elementor-element.elementor-element-d016916 > .elementor-container {max-width: 694px;}
.elementor-1160 .elementor-element.elementor-element-a442cae .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-1160 .elementor-element.elementor-element-a442cae .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-1160 .elementor-element.elementor-element-a442cae .elementor-button {font-family: "Roboto",Sans-serif;font-size: 34px;font-weight: 500;background-color: #926aa6;border-radius: 38px 38px 38px 38px;box-shadow: 0px 0px 10px 0px rgba(23.25,.85923913043478,.85923913043478,.5);}
.elementor-1160 .elementor-element.elementor-element-a442cae {width: 100%;max-width: 100%;}
.elementor-1160 .elementor-element.elementor-element-a442cae > .elementor-widget-container {border-style: solid;border-width: 0px 0px 0px 0px;border-radius: 0px 0px 0px 0px;}
.elementor-1160 .elementor-element.elementor-element-7d03a6c5:not(.elementor-motion-effects-element-type-background), .elementor-1160 .elementor-element.elementor-element-7d03a6c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #2d2d2d;}
.elementor-1160 .elementor-element.elementor-element-7d03a6c5 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 40px;margin-bottom: 0px;}
.elementor-1160 .elementor-element.elementor-element-7d03a6c5 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1160 .elementor-element.elementor-element-28ab1ba0 {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-28ab1ba0 .elementor-heading-title {color: #fff;font-family: "Roboto",Sans-serif;font-size: 14px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-28ab1ba0 > .elementor-widget-container {margin: 30px 0px 0px 0px;}
.elementor-1160 .elementor-element.elementor-element-233cbfc7 {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-233cbfc7 .elementor-heading-title {color: #f9f7f7;font-family: "Roboto",Sans-serif;font-size: 14px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-622040cb {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-622040cb .elementor-heading-title {color: #f9f7f7;font-family: "Roboto",Sans-serif;font-size: 14px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-494ee5d0 {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-494ee5d0 .elementor-heading-title {color: #f9f7f7;font-family: "Roboto",Sans-serif;font-size: 14px;font-weight: 600;}
.elementor-1160 .elementor-element.elementor-element-60da9fd0:not(.elementor-motion-effects-element-type-background), .elementor-1160 .elementor-element.elementor-element-60da9fd0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #2d2d2d;}
.elementor-1160 .elementor-element.elementor-element-60da9fd0 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: -10px;margin-bottom: -10px;}
.elementor-1160 .elementor-element.elementor-element-60da9fd0 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1160 .elementor-element.elementor-element-5f55da9c img {width: 7%;}
.elementor-1160 .elementor-element.elementor-element-5a3ae60f {text-align: center;}
.elementor-1160 .elementor-element.elementor-element-5a3ae60f .elementor-heading-title {color: #fff;font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 600;}
@media (max-width:1024px) {.elementor-1160 .elementor-element.elementor-element-6f8761f8 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 0px 0px 0px;}
	.elementor-1160 .elementor-element.elementor-element-7aa7c6ec {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-7aa7c6ec img {width: 100%;max-width: 100%;}
	.elementor-1160 .elementor-element.elementor-element-7aa7c6ec > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
	.elementor-1160 .elementor-element.elementor-element-28ab1ba0 > .elementor-widget-container {margin: 25px 0px 0px 0px;}
	.elementor-1160 .elementor-element.elementor-element-233cbfc7 {text-align: left;}
	.elementor-1160 .elementor-element.elementor-element-622040cb {text-align: left;}
	.elementor-1160 .elementor-element.elementor-element-494ee5d0 {text-align: left;}
	.elementor-1160 .elementor-element.elementor-element-60da9fd0 {margin-top: 0px;margin-bottom: 0px;}
	.elementor-1160 .elementor-element.elementor-element-5f55da9c img {width: 10%;}}
@media (min-width:768px) {.elementor-1160 .elementor-element.elementor-element-060bed4 {width: 36.922%;}
	.elementor-1160 .elementor-element.elementor-element-278d6f6 {width: 63.078%;}}
@media (max-width:767px) {.elementor-1160 .elementor-element.elementor-element-952106c {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-952106c .elementor-heading-title {font-size: 25px;}
	.elementor-1160 .elementor-element.elementor-element-3702350 {text-align: justify;}
	.elementor-1160 .elementor-element.elementor-element-3702350 .elementor-heading-title {font-size: 16px;}
	.elementor-1160 .elementor-element.elementor-element-ba369e1 {text-align: justify;}
	.elementor-1160 .elementor-element.elementor-element-ba369e1 .elementor-heading-title {font-size: 16px;}
	.elementor-1160 .elementor-element.elementor-element-8b4cd59 {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-8b4cd59 .elementor-heading-title {font-size: 25px;}
	.elementor-1160 .elementor-element.elementor-element-057fac5 {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-057fac5 .elementor-heading-title {font-size: 25px;}
	.elementor-1160 .elementor-element.elementor-element-feba951 {text-align: justify;font-size: 16px;}
	.elementor-1160 .elementor-element.elementor-element-a442cae .elementor-button {font-size: 20px;}
	.elementor-1160 .elementor-element.elementor-element-7aa7c6ec > .elementor-widget-container {margin: 14px 14px 14px 14px;}
	.elementor-1160 .elementor-element.elementor-element-233cbfc7 {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-622040cb {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-494ee5d0 {text-align: center;}
	.elementor-1160 .elementor-element.elementor-element-5f55da9c img {width: 15%;}
	.elementor-1160 .elementor-element.elementor-element-5a3ae60f .elementor-heading-title {font-size: 15px;}}
#bt_pulse {-webkit-animation: pulse 1s infinite;}
#bt_pulse:hover {-webkit-animation: none;}
@-webkit-keyframes pulse {0% {}
	70% {}
	100% {}}
#bt_pulse {-webkit-animation: pulse 1s infinite;}
#bt_pulse:hover {-webkit-animation: none;}
@-webkit-keyframes pulse {0% {}
	70% {}
	100% {}}
#bt_pulse {-webkit-animation: pulse 1s infinite;}
#bt_pulse:hover {-webkit-animation: none;}
@-webkit-keyframes pulse {0% {}
	70% {}
	100% {}}